:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   */

  /* CONSTANTS */
  --page-bg-color: #f3f4f6;
  --input-border-radius: 8px;
  --page-padding: 28px;
  --input-dropdown-height: 56px;
  --input-dropdown-width: 260px;
}

* {
  /* STYLE RESET */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

#root {
  background-color: var(--page-bg-color);
  height: 100vh;
  padding: var(--page-padding);
  display: flex;
  justify-content: center;
  align-items: center
}

#content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 28px;
}

button {
  background-color: white;
  border-radius: var(--input-border-radius);
  border: none;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.input-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.input-dropdown {
  width: 100%;
}

.input-dropdown-toggle {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  height: var(--input-dropdown-height);
  width: 100%;
}

.input-dropdown-toggle:focus {
  outline: none;
}

.input-dropdown-menu {
  display: none;
  
  padding: 0px 16px 16px 16px;
  background-color: white;
  border-bottom-left-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
}

.input-dropdown-menu.open {
  display: block;
}

.input-dropdown-chev {
  height: 24px;
  width: 24px;
}

.input-dropdown-toggle-open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.resume-preview {
  background-color: white;
  width: max(500px, 40vw);
}